
.vscode/settings.json
__pycache__/update.cpython-311.pyc
.vscode/settings.json
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/flask_FET.iml
__pycache__/app.cpython-312.pyc
.idea/misc.xml
