<!DOCTYPE html>
<html>
  <head>
    <title>Fund Entry</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css"
    />
    <style>
      .container {
        max-width: 700px;
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      {% if current_user.is_authenticated %}
      <h1 class="mb-4">Fund Entry</h1>
      <form
        action="{{ url_for('add_fund') }}"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                required
              />
            </div>

            <div class="mb-3">
              <label for="date" class="form-label">Date:</label>
              <input
                type="date"
                class="form-control"
                id="date"
                name="date"
                required
              />
            </div>

            <div class="mb-3">
              <label for="contact_number" class="form-label"
                >Contact Number:</label
              >
              <input
                type="text"
                class="form-control"
                id="contact_number"
                name="contact_number"
                minlength="10"
                maxlength="10"
                required
              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <label for="amount_number" class="form-label"
                >Amount (Number):</label
              >
              <input
                type="number"
                class="form-control"
                id="amount_number"
                name="amount_number"
                required
              />
            </div>

            <div class="mb-3">
              <label for="address" class="form-label">Address:</label>
              <textarea
                class="form-control"
                id="address"
                name="address"
                rows="3"
                required
              ></textarea>
            </div>

            <div class="mb-3">
              <label for="receipt" class="form-label"
                >Receipt (If available):</label
              >
              <input
                type="file"
                class="form-control"
                id="receipt"
                name="receipt"
                accept=".jpg, .jpeg"
              />
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Add Fund</button>
      </form>

      <div class="mt-4">
        <a href="{{ url_for('display_donors') }}" class="btn btn-secondary me-2"
          >Display Donors</a
        >
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
      </div>
      {% else %}
      <div class="container">
        <h3 class="mb-4">You are not logged in!</h3>
        <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
      </div>
      {% endif %}
    </div>
    <hr />
    <p style="text-align: center; margin-top: 50px">
      Designed, Built by Esvin Joshua.
    </p>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
